body{
   
    background-color: lightgray;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    grid-auto-rows: 200px;
    grid-template-areas: 
    ".a a."
    ".a a."
    ".a a.";
    background-color: darkgray;
}

.item {
    grid-area: a;
    align-self: center;
    justify-self: center;
    color: darkgreen;
    font-family: 'Indie Flower', cursive;
    font-size: 4em;


}